<!-- <footer>
	<hr />

	<div class="footer-columns">
		<div id="footer-summary">
			<h2>About me</h2>
			<p>I'm {{ site.owner }}, a transfem and beginner programmer from the United States.</p>
			<a href="https://bsky.app/profile/duskhasfallen.bsky.social">Bluesky</a>
			<a href="https://github.com/TrulyFlawed">GitHub</a>
			<a href="https://github.com/TrulyFlawed/trulyflawed.github.io/">Source code</a>
		</div>
		
		<div id="footer-columns">
			<h2>Navigation</h2>
			<ul>
				<li><a href="/blog/">Blog</a></li>
				<li><a href="/portfolio/">Portfolio</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</div>
	</div>

	<p class="legal">&copy; 2025&ndash;2026 {{ site.owner }}. All rights reserved.</p>
</footer> -->

<footer>
	<!-- <hr /> -->

	<div class="footer-info">
		<p>Hiya, I'm Duskfall (she/her)! I'm a beginner web developer from the United States. I like writing and open source.</p>
	</div>
	<!-- <div class="footer-nav">
		<ul class="other-nav">
			<li><a href="https://bsky.app/profile/duskhasfallen.bsky.social">Bluesky</a></li>
			<li><a href="https://github.com/TrulyFlawed">GitHub</a></li>
			<li><a href="https://github.com/TrulyFlawed/trulyflawed.github.io/">Source code</a></li>
		</ul>
		<ul class="site-nav">
			<li><a href="/blog/">Blog</a></li>
			<li><a href="/portfolio/">Portfolio</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
	</div> -->
	<ul class="footer-nav other-nav">
		<li><a href="https://bsky.app/profile/duskhasfallen.bsky.social">Bluesky</a></li>
		<li><a href="https://github.com/TrulyFlawed">GitHub</a></li>
		<li><a href="https://github.com/TrulyFlawed/trulyflawed.github.io/">Source code</a></li>
	</ul>
	<ul class="footer-nav site-nav">
		<li><a href="/blog/">Blog</a></li>
		<li><a href="/portfolio/">Portfolio</a></li>
		<li><a href="/about/">About</a></li>
		<li><a href="/contact/">Contact</a></li>
	</ul>
	<p class="legal">&copy; 2025&ndash;2026 {{ site.owner }}. All rights reserved.</p>
</footer>