:root {
	--site-width: 70ch;
}

body {
	font-family: "Inter", sans-serif;
}

body {
	display: flex;
	flex-direction: column;

	block-size: 100dvh;

	font-size: 1rem;
	color: var(--color-text-primary);
	background-color: var(--color-bg-primary);

	transition: ease 0.15s;
}

h1 {
	margin-block-end: 1rem;
	text-wrap: balance;
}

h2 {
	margin-block-start: 1rem;
	margin-block-end: 0.5rem;
	text-wrap: balance;
}

ul, ol {
	margin: unset;
	padding-inline-start: 1.25rem;
}

p {
	margin-block-end: 1.25rem;
	
	white-space: normal;

	word-wrap: wrap pretty;
}

hr {
	color: var(--color-surface-hover);
	background-color: var(--color-surface-hover);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: ease 0.15s;
}

a {
	color: var(--color-link);
	display: inline-flex;
	gap: 0.1rem;
	align-items: center;
	justify-content: center;

	text-decoration: 1px underline;
	text-underline-offset: 0.2em;

	outline: 0px solid transparent;
	fill: currentColor;
	transition: ease 0.15s;

	/* padding: 0.125rem; */
	border-radius: 0.25rem;

	&:hover,
	&:focus-visible {
		color: var(--color-link-hover);
		text-decoration-thickness: 2px;
	}

	& span {
		/* Visual correction of "differences"
		 * in left & right padding. */
		padding-inline-start: 0.125rem;
	}

	& svg {
		inline-size: 1rem;
		block-size: 1rem;
		fill: currentColor;
	}
}

main {
	inline-size: var(--site-width);
	margin: 2rem auto;
	padding-inline: 1.5rem;
}

sup a {
	text-decoration: none;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  inset-block-start: -0.4em;
}
sub { 
  inset-block-start: 0.4em; 
}