header {
	display: flex;
	flex-direction: column;
	inline-size: var(--site-width);
	margin: 1.25rem auto;

	& .header {
		display: flex;
		flex-direction: row;
		padding-block-end: 1.25rem;
		justify-content: space-between;
		padding-inline: 1.5rem;
	}

	& a {
		color: var(--color-text-primary);
		text-decoration: none;

		&:hover {
			color: var(--color-link);
		}
	}

	& nav {
		display: flex;
		gap: 1rem;
	}
}

footer {
	display: flex;
	flex-direction: column;
	margin: 1.25rem auto;
	
	inline-size: var(--site-width);

	& hr {
		color: var(--color-surface-hover);
		background-color: var(--color-surface-hover);
		box-sizing: border-box;
		margin: 0 0 2rem 0;
		padding: 0;
	}

	& h2 {
		font-size: 1rem;
		color: var(--color-text-very-muted);
		font-weight: 400;
		font-variant-caps: all-small-caps;
	}

	& ul, ol {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	& .footer-columns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-inline: 1.5rem;
	}

	& #footer-summary {
		max-width: 45ch;
	}

	& a {
		/* color: var(--primary-text); */
		text-decoration: none;
	}
}

.article-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.article {
	background-color: var(--color-surface);
	padding: 0.75rem;
	border-radius: 0.5rem;
	transition: ease 0.15s;

	&:hover {
		background-color: var(--color-surface-hover);
	}

	& a {
		color: var(--color-text-primary);
		font-size: 1.25rem;
		text-decoration: none;
		margin-block-end: 0.15rem;
	}

	& .post-metadata {
		margin-block-end: 0;
	}
}

.post-metadata {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	margin-block-end: 1rem;
	color: var(--color-text-muted);
	transition: ease 0.15s;
}

.footnotes {
	& li p {
		margin-block-end: 0.5rem;
	}

	& a {
		text-decoration: none;

		&:hover {
			text-decoration: revert;
		}
	}
}