/* If browser/OS theme default is light or unspecified we
 * default to light theme. */
html {
	--primary-text: #000;
	--primary-background: #fff;
	--secondary-text: #fff;
	/* Yes I know these are in RGB, I need to fix that later. */
	--link-color: rgb(253, 117, 128);
	--link-color-highlighted: rgb(255, 160, 171);
	--secondary-background: rgb(51, 51, 51);
}

/* If browser/OS theme default is dark, we select
 * dark to avoid unwanted flash of light on page load. */
@media (prefers-color-scheme: dark) {
	html {
		--primary-text: #fff;
		--primary-background: #000;
		--secondary-text: #000;
		--link-color: rgb(253, 117, 128);
		--link-color-highlighted: rgb(255, 160, 171);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}

body {
	display: flex;
	flex-direction: column;

	height: 100dvh;

	font-size: 1rem;
	color: var(--primary-text);

	background-color: var(--primary-background);

	transition: ease 0.15s;
}

h1 {
	margin-bottom: 1rem;
}

h2 {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

ul, ol {
	margin: unset;
	padding-left: 1.25rem;
}

p {
	margin-bottom: 1.25rem;
	
	white-space: normal;

	word-wrap: wrap pretty;
}

hr {
	color: var(--secondary-background);
	background-color: var(--secondary-background);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: var(--link-color);
	display: inline-flex;
	gap: 0.1rem;
	align-items: center;
	justify-content: center;

	text-decoration: 1px underline;
	text-underline-offset: 0.2em;

	outline: 0px solid transparent;
	fill: var(--primary-text);
	transition: ease 0.15s;

	/* padding: 0.125rem; */
	border-radius: 0.25rem;

	&:hover,
	&:focus-visible {
		color: var(--link-color-highlighted);
		text-decoration-thickness: 2px;
	}

	& span {
		/* Visual correction of "differences"
		 * in left & right padding. */
		padding-left: 0.125rem;
	}

	& svg {
		width: 1rem;
		height: 1rem;
		fill: currentColor;
	}
}

main {
	width: 70ch;
	margin: 2rem auto;
	padding: 0 1.5rem;
}

header {
	display: flex;
	flex-direction: row;
	width: 70ch;
	margin: 1.25rem auto;
	padding: 0 1.5rem;
	justify-content: space-between;

	& a {
		color: var(--primary-text);
		text-decoration: none;
	}

	& nav {
		display: flex;
		gap: 1rem;
	}
}

footer {
	display: flex;
	flex-direction: column;
	margin: 1.25rem auto;
	
	width: 70ch;

	& hr {
		color: var(--secondary-background);
		background-color: var(--secondary-background);
		box-sizing: border-box;
		margin: 0 0 2rem 0;
		padding: 0;
	}

	& h2 {
		font-size: 1rem;
		color: #eee;
		font-weight: 400;
		font-variant-caps: all-small-caps;
	}

	& ul, ol {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	& .footer-columns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 1.5rem;
	}

	& #footer-summary {
		max-width: 45ch;
	}

	& a {
		/* color: var(--primary-text); */
		text-decoration: none;
	}
}

.article-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.article {
	background-color: rgb(25, 25, 25);
	padding: 0.75rem;
	border-radius: 0.5rem;
	transition: ease 0.15s;

	&:hover {
		background-color: rgb(40, 40, 40);
	}

	& a {
		color: var(--primary-text);
		font-size: 1.25rem;
		text-decoration: none;
		margin-bottom: 0.15rem;
	}

	& .post-metadata {
		margin-bottom: 0;
	}
}

.post-metadata {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	margin-bottom: 1rem;
	color: #ddd;
}