/* If browser/OS theme default is light or unspecified we
 * default to light theme. */
:root {
	color-scheme: light dark;

	--color-text-primary:     oklch(0.05 0 0);
	--color-text-secondary:   oklch(0.98 0 0);
	--color-bg-primary:       oklch(0.99 0 0);
	--color-bg-secondary:     oklch(0.22 0 0);

	--color-link:			  oklch(0.7262 0.1661 17.21);
	--color-link-hover:       oklch(0.8043 0.1135 12.42);

	--color-surface:          oklch(0.95 0 0);
	--color-surface-hover:    oklch(0.90 0 0);
	--color-text-muted:       oklch(0.45 0 0);
	--color-text-very-muted:  oklch(0.92 0 0);
}

/* If browser/OS theme default is dark, we select
 * dark to avoid unwanted flash of light on page load. */
@media (prefers-color-scheme: dark) {
	:root {
		--color-text-primary:     oklch(0.98 0 0);
		--color-text-secondary:   oklch(0.05 0 0);
		--color-bg-primary:       oklch(0.04 0 0);
		--color-bg-secondary:     oklch(0.22 0 0);

		--color-surface:          oklch(0.22 0 0);
		--color-surface-hover:    oklch(0.30 0 0);

		--color-text-muted:       oklch(0.85 0 0);
	}
}